//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/css/style.css")
    body    
        a(href='/') Return to the homepage
        .form-wrapper
            h2 Video Game Form
            br
            form(method="POST") 
                label(for="newval") New Game Name
                input(type="text" name="game_name" required) 
                label(for="newval") Publisher
                input(type="text" name="publisher" required) 
                label(for="newval") PG Rating
                input(type="number" name="rating" required) 
                input(type="submit" value="submit")

